
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
        <h1>Hamburger Town!</h1>
        </div>
        <div class="col-md-6">
        <h2>Burgers still available!</h2>

        <ul>
        
            {{#if !devoured}}
            {{#each burgers}}
            <li>{{name}}
        	<button class="eat-burger" data-id="{{id}}">DEVOUR IT!</button>
            </li>
            {{/each}}
            {{/if}}
        </ul>
        </div><!--uneaten-->
        <div class="col-md-6">
        <h2>Burgers already eaten!</h2>

        <ul>
        
            {{#if devoured}}
            {{#each burgers}}
            <li>{{name}}</li>
            {{/each}}
            {{/if}}
        </ul>
        </div><!--eaten-->
        <div class="col-md-12">
        <h2>Add a Burger</h2>
        <form class="create-form">

        <div class="form-group">
            <label for="burger">Burger Name:</label>
            <input type="text" id="burger" name="name">
        </div>

        <button type="submit">Add Burger</button>
        </form>
        </div><!--main row-->
    </div><!--main row-->
</div><!--container-->